//==============================================================================
// variables

// typography
x = 18px
px = 0.055555555555555rem

//==============================================================================
// methods

xl = x * 1.5
lg = x * 1.25
m = x
sm = x * 0.75
xs = x * 0.625

h1 = 2rem
h2 = 1.75rem
h3 = 1.5rem
h4 = 1.25rem
h5 = 1.125rem
h6 = 0.75rem
